<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Mr. Nook reads the next calendar event. Runtime permission, asked when he is tapped. -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="vnd.android.cursor.item/event" />
        </intent>
    </queries>
</manifest>
